@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose {
    --tw-prose-body: theme(colors.slate.300);
    --tw-prose-headings: theme(colors.white);
    --tw-prose-links: theme(colors.blue.400);
    --tw-prose-code: theme(colors.blue.300);
    --tw-prose-pre-bg: theme(colors.slate.800);
    --tw-prose-quote-borders: theme(colors.blue.600);
  }
}
